<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:object="${movie}">
    <div>
        Movie's Name: <input type="text" th:field="*{name}">
    </div>
    <br>
    <div>
        Director's Name: <input type="text" th:field="*{director}">
    </div>
    <br>
    <div>
        Release Date: <input type="date" th:field="*{date}">
    </div>
    <br>
    <div>
        Category:
        <select th:field="*{category}">
            <option th:each="ca:${category}" th:value="${ca.id}" th:text="${ca.name}">
            </option>
        </select>
    </div>
    <br>
    <div>
        <input type="submit" class="btn btn-warning" value="Add">
    </div>
</form>
</body>
</html>